<div class="box pt-5 ">
    <div class="my-2 w-25">
        <label for="" class="my-1">categories:</label>
        <select class="form-control">
            <option value="1">option</option>
            <option value="2">option</option>
            <option value="3">option</option>
            <option value="4">option</option>
        </select>

    </div>
    <div class="row">
        <div class="col-md-3 col-sm-12">
            <div class="item">
                <img src="test" alt="">
                <div class="body">
                    <h4>Some Title</h4>
                    <p>Iest Ada Description</p>
                </div>
                <div class="px-3 mb-2 d-flex iustifv-content-between align-items-center">
                    <button class="btn btn-success">Add To Cart</button>
                    <span>50 L.E</span>
                </div>
            </div>
        </div>
    </div>
</div>