<div class="product-details box">
    <div class="row" *ngIf="!loading">
        <div class="col-md-5 col-sm-12">
            <img src="{{ data.image }}" alt="Product Image">
        </div>
        <div class="col-md-7 col-sm-12">
            <div class="info">
                <h2 class="product-title">{{ data.title }}</h2>
                <ul class="product-details-list">
                    <li><strong>Category:</strong> {{ data.category }}</li>
                    <li><strong>Description:</strong> {{ data.description }}  </li>
                    <li><strong>Rating:</strong> {{ data.rating.rate }}</li>
                    <li><strong>Count:</strong> {{ data.rating.count }}</li>
                    <li><strong>Price:</strong> {{ data.price }}</li>
                </ul>
                <button class="btn btn-success">Add to Cart</button>
            </div>
        </div>
    </div>
    <div class="text-center w-100" *ngIf="loading">
        <app-spinner></app-spinner>
    </div>
</div>